/* 
* @Author: zhou qiao
* @Date:   2019-01-17 10:47:16
* @Last Modified by:   zhou qiao
* @Last Modified time: 2019-01-17 11:07:57
*/
.footer {
    padding-bottom: 10px;
}

.footer .links {
    text-align: center;
    color: #666;
    line-height: 30px;
}

.footer .links .link {
    padding: 0 10px;
}

.footer .copyright {
    text-align: center;
    color: #666;
    line-height: 30px;
}