/* 
* @Author: zhou qiao
* @Date:   2019-01-11 16:24:48
* @Last Modified by:   zhou qiao
* @Last Modified time: 2019-01-15 15:15:06
*/
body{
    background: #ccc;
    color: red;
    font-size: 50px;
}