/* 
* @Author: zhou qiao
* @Date:   2019-01-17 21:02:41
* @Last Modified by:   zhou qiao
* @Last Modified time: 2019-01-21 10:27:43
*/
.page-wrap {
    background: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 20px;
}

.result-con {
    display: none;
}

.result-con .result-title {
    color: #555;
}

.result-con .result-content {
    margin-top: 20px;
}

.result-con .result-content .link{
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 5px;
}